@import url(/font/fontello.css);
/****************************/
/** 	Variables
/****************************/
/****************************/
/**		Mixin
/***************************/
/****************************/
/**		Utilities
/***************************/
.icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}

/**
	Layout
**/
html, body, #wrapper, .tall {
  height: 100%;
  position: relative;
}

header {
  *zoom: 1;
}
header:before, header:after {
  content: " ";
  display: table;
}
header:after {
  clear: both;
}

aside {
  position: relative;
  z-index: 3;
}
aside .nav {
  padding: 3em 1em 1em;
  top: 0;
  left: 0;
  height: 100%;
  left: 0;
  background: #252932;
}

.app-body {
  margin: 1em 0;
}
.app-body .app-content {
  margin: 0 0 5em;
}

section {
  margin: 2em 0;
}

.expenses-list {
  margin: 2em 0;
}
.expenses-list .expense-details {
  position: relative;
  z-index: 1;
  padding: 1em 0;
  background: #195962;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform 0.25s, background 0.2s linear;
  -moz-transition: -moz-transform 0.25s, background 0.2s linear;
  -o-transition: -o-transform 0.25s, background 0.2s linear;
  transition: transform 0.25s, background 0.2s linear;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.expenses-list .expense-details.added {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  background: white;
}
.expenses-list .expense-details.removed {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  background: #f56f6c;
}
.expenses-list .expense-details .close {
  font-size: 1em;
  font-family: cursive;
}
